canvas.board {
	position: absolute;
	left: 5px;
	top: 5px;
	font-family: sans-serif;
}

canvas.bonusWheel {
	width: 250px;
	height: 100px;
	font-family: sans-serif;
}

button.notification {
	float: right;
	border: 2px solid #000;
	border-radius: 5px;
	font-size: 18px;
	vertical-align: center;
	overflow-y: hidden;
	font-family: sans-serif;
}

div.notifications {
	position: absolute;
	top: 3px;
	right: 3px;
	font-family: sans-serif;
}

td.rightUI {
	font-family: sans-serif;
}

div.menuPadding {
	height: 5px;
	clear: both;
}

div.bonusWheel {
	clear: both;
}

div.upgradesContainer, div.upgradesSubContainer, div.statsContainer, div.optionsContainer {
	border-radius: 15px;
	clear: both;
	padding: 5px;
	font-family: sans-serif;
	margin: 2.5px;
}

div.upgradesContainer, div.upgradesSubContainer {
	border: 2px solid #080;
	background: #CFC;
	vertical-align: top;
}

div.upgradesSubContainer {
	clear: none;
	display: inline-block;
}

div.statsContainer {
	border: 2px solid #008;
	background: #CCF;
}

div.optionsContainer {
	border: 2px solid #808;
	background: #FCF;
}

button.upgradesHeader, button.upgradesSubHeader, button.statsHeader, button.optionsHeader {
	width: 100%;
	border: none;
	text-align: center;
	outline: none;
	font-weight: bold;
	font-family: sans-serif;
}

button.upgradesHeader, button.statsHeader, button.optionsHeader {
	font-size: 20px;
}

button.upgradesSubHeader {
	font-size: 16px;
}

button.upgradesHeader, button.upgradesSubHeader {
	background: #CFC;
}

button.statsHeader {
	background: #CCF;
}

button.optionsHeader {
	background: #FCF;
}

div.upgradesContents, div.statsContents, div.optionsContents {
	line-height: 16px;
	font-family: sans-serif;
	font-size: 14px;
	overflow: hidden;
}

div.statsEntry {
	display: inline;
}

div.upgradeButtonWrapper {
	display: inline-block;
	margin: 2.5px;
}

button.upgradeButton, button.rubyUpgradeButton, button.sapphireUpgradeButton, button.emeraldUpgradeButton, button.topazUpgradeButton, button.turquoiseUpgradeButton, button.amethystUpgradeButton, button.opalUpgradeButton {
	border: 1px solid #000;
	border-radius: 10px;
	font-family: sans-serif;
	font-size: 14px;
	color: #000;
	padding: 5px;
	transition-duration: 250ms;
}

button.upgradeButton {
	background: #8C8;
}

button.upgradeButton:disabled {
	background: #888;
}

button.rubyUpgradeButton {
	background: #F88;
}

button.rubyUpgradeButton:disabled {
	background: #A77;
}

button.sapphireUpgradeButton {
	background: #88F;
}

button.sapphireUpgradeButton:disabled {
	background: #77A;
}

button.emeraldUpgradeButton {
	background: #8F8;
}

button.emeraldUpgradeButton:disabled {
	background: #7A7;
}

button.topazUpgradeButton {
	background: #FF8;
}

button.topazUpgradeButton:disabled {
	background: #AA7;
}

button.turquoiseUpgradeButton {
	background: #8FF;
}

button.turquoiseUpgradeButton:disabled {
	background: #7AA;
}

button.amethystUpgradeButton {
	background: #F8F;
}

button.amethystUpgradeButton:disabled {
	background: #A7A;
}

@-webkit-keyframes opalUpgradeButtonColor {  
  0% { background: #F88; }
  17% { background: #FF8; }
  33% { background: #8F8; }
  50% { background: #8FF; }
  67% { background: #88F; }
  83% { background: #F8F; }
  100% { background: #F88; }
}

@-webkit-keyframes opalUpgradeButtonDisabledColor {  
  0% { background: #A77; }
  17% { background: #AA7; }
  33% { background: #7A7; }
  50% { background: #7AA; }
  67% { background: #77A; }
  83% { background: #A7A; }
  100% { background: #A77; }
}

button.opalUpgradeButton {
    background: white;
    -webkit-animation-name: opalUpgradeButtonColor;  
    -webkit-animation-iteration-count: infinite;  
    -webkit-animation-duration: 2s; 
}

button.opalUpgradeButton:disabled {
    background: #AAA;
    -webkit-animation-name: opalUpgradeButtonDisabledColor;  
    -webkit-animation-iteration-count: infinite;  
    -webkit-animation-duration: 2s; 
}

button.optionButton {
	border: 1px solid #000;
	border-radius: 20px;
	background: #C8C;
	font-family: sans-serif;
	font-size: 14px;
	color: #000;
	margin-top: 2.5px;
	margin-bottom: 2.5px;
}

div.messageBox {
	display: block;
	font-family: sans-serif;
}

div.messageBoxLarge {
	font-size: 30px;
	font-weight: bolder
}

button.dropZone {
	border: 0px;
	position: absolute;
	background: #0F0;
	opacity: 0.25;
	transition-duration: 200ms;
	font-family: sans-serif;
}

button.dropZone:disabled {
	background: #F00;
	transition-duration: 200ms;
}

.tooltip {
	width: 200px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 5px;
	padding: 5px;
	position: fixed;
	z-index: 100;
	font-family: sans-serif;
	font-size: 14px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 255;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.3);
}

.modalContent {
	font-family: sans-serif;
	background-color: #fff;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}

.modalCloseButton {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.modalCloseButton:hover,
.modalCloseButton:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

div.exportedSave {
	padding: 5px;
	background-color: #fff;
	border: 1px solid #000;
	font-family: monospace;
	overflow-wrap: break-word;
}
